<p class="pageHeader">New Department</p>

<form action="/departments" method="post">
    <label for="title">Department Name:</label>
    <input type="text" class="inputBox" name="title" required="true" id="title">


    <input type="submit" value="Save" class="button"/>
</form>